@model TestApp_2.Models.Member

<html>
<body>
    <h2>Test</h2>

    <form action="/Members/Add" method="post">
        <label for="FirstName">First Name</label>
        <input placeholder="Your first name goes here" type="text" id="FirstName" name="firstName" value="">

        <label for="LastName">Last Name</label>
        <input placeholder="Your last name goes here" type="text" id="LastName" name="lastName" value="">

        <label for="EmailAddress">Email Address</label>
        <input placeholder="Your email address goes here" type="text" id="EmailAddress" name="emailAddress" value="">

        <label for="Password">Password</label>
        <input placeholder="Your Password  goes here" type="text" id="Password" name="password" value="">

        <input type="submit">
    </form>

</body>
</html>