/*
    Mt. Rainier Nordic Patrol
    Web App
    
    Name:         Dorian Issa
    Date:         16 Aug, 2018

    Filename: index.cshtml
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300|Ubuntu:300|Alegreya+Sans+SC:100|Londrina+Outline|Montserrat:100,200,300,400');


html {
    background: url(/images/photos/mt-rainier-background.jpg) no-repeat fixed center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/*________________________________________________________________  HEADER  styles */
header a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    line-height: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;

    transition: 0.25s;
}

header a:hover {
    border-radius: 5px;
    border: 1px solid white;
    background: white;
    color: black;

    font-size: large;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}


/*________________________________________________________________  TITLE  styles */


section#title h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 2.5em;
    color: white;
}

section#title h1 #bluetext {
    color: hsl(219, 70%, 90%);
}


/*________________________________________________________________  NAV  styles */
nav ul {
    list-style: none;
}

nav ul li {
    border: 1px solid white;
    border-radius: 20px;

    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 300;
    text-align: center;

    transition: 0.3s;
}

nav ul li a {
    color: white;
    text-decoration: none;

    transition: 0.2s;
}

nav ul li:hover {
    background-color: white;
}

nav ul li a:hover {
    color: black;
    font-size: large;
}


/*________________________________________________________________  SOCIAL MEDIA styles */

section#socialmedia ul {
    list-style: none;
}

section#socialmedia ul li a {
    text-decoration: none;
}



section#socialmedia img {
    filter: brightness(10);
    transition: 0.1s;
}

section#socialmedia img:hover {
    filter: brightness(1);

    -webkit-animation: growShrink 0.5s ease;
    animation: growShrink 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

}







/*________________________________________________________________  ANIMATIONS ____________________________________ */

@keyframes growShrink {

    40% {
        -webkit-transform: scale(1.2);
        transform: translateX(1.2);
    }

    90% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


