@model TestApp_2.Models.Login

<html>
<body>
    <h2>Test</h2>

    <form action="/Test/LoginPage" method="post">
        <!--                                                                            name=email must match models.login -->
        <label for="EmailAddress">Email Address</label>
        <input placeholder="Your email address goes here" type="text" id="EmailAddress" name="email" value="">

        <label for="Password">Password</label>
        <input placeholder="Your password goes here" type="text" id="Password" name="password" value="">

        <input type="submit">
         
    </form>

</body>
</html>