@model TestApp_2.Models.Member

<html>
<body>
    <h2>Test</h2>

    <form action="/Test/MembersAdd" method="post">
        <label for="FirstName">First Name</label>
        <input placeholder="Your first name goes here" type="text" id="FirstName" name="FirstName" value="">
        <label for="LastName">Last Name</label>
        <input placeholder="Your last name goes here" type="text" id="LastName" name="LastName" value="">
        <input type="submit">
    </form>

</body>
</html>