@model TestApp_2.Models.SignIn

<html>
<body>
    <h2>Test</h2>

    <form action="/Test/SignIn" method="post">
        <!--                                                                            name=email must match models.login -->
        <input placeholder="email@address.com" type="text" id="EmailAddress" name="email" value="">

        <label for="Password">Password</label>
        <input placeholder="password" type="text" id="Password" name="password" value="">

        <input type="submit">
         
    </form>

</body>
</html>